<strong>Recovering password</strong>

<p>Password recovery successfully to email ({{ email }}).
  If you didn't do this require, You'd better change your password.</p>

<p>To continue with password recovery, use the token: {{token}}
  or click the link below:
</p>

<a href="{{link}}">Create new password</a>
